{
  "extends": [ "plugin:prettier/recommended" ],
  "ignorePatterns": [ "*.html" ],
  "overrides": [
    {
      "files": [ "*.tsx" ],
      "extends": [ "eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier" ],
      "parser": "@typescript-eslint/parser",
      "plugins": [ "@typescript-eslint" ],
      "parserOptions": {
        "project": "tsconfig.json"
      }
    },
    {
      "files": "*.json",
      "parser": "jsonc-eslint-parser",
      "rules": { }
    }
  ]
}